@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.swiper-pagination-bullet {
  background: #777 !important;
}

.swiper-pagination-bullet-active {
  background: #00aeef !important;
}
